# 聊天模型 负责推理和生成 deepseek/openai/qwen
LLM_PROVIDER=
LLM_API_KEY=
LLM_BASE_URL=https://api.deepseek.com
LLM_MODEL=

# 向量模型 负责把文本内容转换成向量 dashscope/openai/local
EMBED_PROVIDER=
EMBED_API_KEY=
EMBED_BASE_URL=
EMBED_MODEL=

# Application
COPILOT_ENV=development
COPILOT_LOG_LEVEL=DEBUG
COPILOT_MAX_AGENT_ITERATIONS=10

# Data paths
COPILOT_DATA_DIR=./data

# SOP数据库 数据库类型 sqlite/mysql
SOP_DB_TYPE=sqlite

# 知识库数据库 数据库类型 sqlite/mysql
KNOWLEDGE_DB_TYPE=sqlite

# 知识库的文件内容存储 inline/oss 开发环境小文件可以直接存数据库 大文件存OSS
KNOWLEDGE_CONTENT_TYPE=inline

# SOP SQLite 文件路径
SOP_DB_PATH=./data/copilot.db
# 知识库 SQLite 文件路径
KNOWLEDGE_DB_PATH=./data/copilot.db

# SOP & 知识库 MySQL数据库连接
DB_HOST=""
DB_PORT=3306
DB_USER=
DB_PASS=
DB_NAME=copilot

# 向量库类型 qdrant/chroma/milvus
KNOWLEDGE_VECTOR_TYPE=qdrant

# Qdrant本地模式 向量数据存储路径
KNOWLEDGE_VECTOR_QDRANT_PATH=./data/qdrant

# Server
COPILOT_HOST=0.0.0.0
COPILOT_PORT=8000

# 给Docker BuildKit配置代理
HTTP_PROXY=proxy(ip:port)
HTTPS_PROXY=proxy(ip:port)
NO_PROXY=localhost,127.0.0.1
